<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: wheat;

        }

        h1 {
            text-align: center;
            color: green;
        }

        form {
            width: 600px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px #ccc;
            margin: 50px auto;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <title>Document</title>
</head>

<body>

    <h1>Hello form index.html</h1>

    <form action="/api/person" method="POST">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" id="name">
        <br><br>
        <input type="submit">
        <a href="/api/users">Get users</a>
    </form>




</body>

</html>